{% extends 'base.html' %} 

{% block navTitle %}
   {{book.title}}
{% endblock %}

{% block pageTitle %}
   {{book.title}}
{% endblock %}

{% block content %}
<div class="w-10/12">
  <div class="flex justify-between mt-10">
    <div class="flex justify-between">
      <div class="w-3/12">
        <img
          src="{{book.thumbnailUrl}}"
          width="200"
          class="cursor-pointer"
          alt="book photo"
        />
      </div>
      <div class="w-9/12">
        <p class="text-3xl underline">About</p>
        <p class="text-gray-800 mt-5">{{book.shortDescription}}</p>

        <div class="mt-10">
          <p class="text-3xl underline">Pages</p>
          <p class="text-gray-800 mt-5">{{book.pageCount}}</p>
        </div>

        <div class="mt-10">
          <p class="text-3xl underline">Authors</p>
           <div class="text-gray-800 mt-5">
            {% for author in book.authors.all %}
              <a href={% url 'author.books' author %} class="text-cyan-700 hover:text-orange-700 underline" target="__blank">
                {{author|urlize}}
              </a>  |  
            {% endfor %}
          </div>
        </div>

        <div class="mt-10">
          <p class="text-3xl underline">Description</p>
          <p class="text-gray-800 mt-5">{{book.longDescription}}</p>
        </div>

        <div class="mt-10">
          {% if user.is_authenticated %}
          <form method="POST" action="{% url 'book.review' book.id  %}">
            {% csrf_token %}
            <textarea
              class="border-2 border-cyan-700 rounded p-2 w-full bg-gray-300"
              rows="5"
              name="review"
              placeholder="Write your review for this book here"
            ></textarea>
            <button
              type="submit"
              class="float-right border rounded py-2 px-4 bg-green-700 text-white"
            >
              Submit
            </button>
          </form>
          {% else %}
          <p>
            <a href="{% url 'login' %}?next={{request.path}}" class="py-2 px-4 rounded bg-green-800 text-white">Login</a> to review this book
          </p>
          {% endif %}
        </div>

        <div class="mt-10">
          <p class="text-3xl underline">All reviews ({{reviews|length}})</p>
          {% for review in reviews %}
          <div class="mt-5">
            <div class="flex justify-between text-md text-gray-600">
              <p>{{ review.user }}</p>
              <p>{{ review.createdAt|timesince}} ago</p>
            </div>
            <p class="text-gray-800 text-lg">{{ review.body }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
